---
import '../styles/global.css';
import Header from '../components/Header.astro';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
  title?: string;
  description?: string;
}

const { title = '日髙悠太 - Yuta Hidaka - Portfolio', description = 'Software Engineer - 日髙悠太のポートフォリオサイトです' } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content="Yuta Hidaka" />
    <meta name="keywords" content="resume software engineer" />
    
    <!-- Open Graph / Twitter -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/me.jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@yuta-hidaka" />
    <meta name="twitter:creator" content="@yuta-hidaka" />
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="max-w-5xl m-auto">
      <slot />
    </div>
  </body>
</html>

